.quiz-container {
  width: 600px;
  height: 130px;
  background-color: #efefef;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  .quiz-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
    font-size: large;
    text-transform: uppercase;
  }

  .quiz-info {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.info-card {
  margin: 1rem;
  .info-title {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .info-value {
    display: flex;
    justify-content: center;
  }
}
